.bold-text {
    font-weight: bold;
}

.green {
    color: green;
}

.blue {
    color: blue;
}

.red {
    color: red;
}

.show-class {
    visibility: visible;
}

.hide-class {
    visibility: hidden;
}

.italic-text {
    font-style: italic;
}

.small-text {
    font-size: 10px;
}

.tog {
    color: white;
    background-color: blueviolet;
}